@font-face {font-family: "icon_font";
    src: url('//at.alicdn.com/t/font_2068649_osegcyqp17i.eot?t=1600670539096'); /* IE9 */
    src: url('//at.alicdn.com/t/font_2068649_osegcyqp17i.eot?t=1600670539096#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_2068649_osegcyqp17i.woff?t=1600670539096') format('woff'),
    url('//at.alicdn.com/t/font_2068649_osegcyqp17i.ttf?t=1600670539096') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_2068649_osegcyqp17i.svg?t=1600670539096#iconfont') format('svg'); /* iOS 4.1- */
}

.icon_font {
    font-family: "icon_font" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-:before {
    content: "\e632";
}

.icon-icon-test:before {
    content: "\e623";
}

.icon-duijimianjitu:before {
    content: "\e624";
}

.icon-loudoutu:before {
    content: "\e927";
}

.icon-zhuzhuangtu:before {
    content: "\e616";
}

.icon-biaoge:before {
    content: "\e639";
}

.icon-xiaochengxu:before {
    content: "\e62d";
}

.icon-pc:before {
    content: "\e63b";
}

.icon-android:before {
    content: "\e602";
}

.icon-shouji:before {
    content: "\e615";
}

.icon-ios:before {
    content: "\e612";
}
