<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;" onclick=xadmin.add_tab('项目管理','{:url("projects/index")}')>
                <i class="iconfont left-nav-li" lay-tips="项目管理">&#xe6b8;</i>
                <cite>项目管理</cite></a>
            </li>
            <li>
                <a href="javascript:;" onclick=xadmin.add_tab('项目管理','{:url("projects/index")}')>
                    <i class="iconfont left-nav-li" lay-tips="项目管理">&#xe6b8;</i>
                    <cite>项目管理</cite></a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="订单管理">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('订单列表','order-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('订单列表1','order-list1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表1</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>