<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href='{:url("index/index")}' >
                <i class="iconfont left-nav-li" lay-tips="概况统计">&#xe6b8;</i>
                <cite>概况统计</cite></a>
            </li>
            <li>
                <a href='{:url("projects/index")}'>
                    <i class="iconfont left-nav-li" lay-tips="数据设置">&#xe6b8;</i>
                    <cite>数据设置</cite></a>
            </li>
            <li>
                <a href='{:url("HidePoint/index")}'>
                    <i class="iconfont left-nav-li" lay-tips="埋点列表">&#xe6b8;</i>
                    <cite>埋点列表</cite></a>
            </li>
            <li>
                <a href='{:url("Act/index")}'>
                    <i class="iconfont left-nav-li" lay-tips="行为管理">&#xe6b8;</i>
                    <cite>行为管理</cite></a>
            </li>
        </ul>
    </div>
</div>