<div class="container" style="display: flex">
    <div class="logo">
        <a href="./index.html">{$web_title|default="数据统计分析"}</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav left" lay-filter="" style="display: flex;flex: 1;justify-content: center">
        <li class="layui-nav-item to-index">
            <a href='{:url("projects/index")}'>
                <cite>全部项目</cite>
            </a></li>
        <li class="layui-nav-item to-index">
            <a href='{:url("projects/index")}' ><cite>授权管理</cite></a></li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">{$user.nick_name}</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick=xadmin.open('修改密码','{:url("user/password")}',700,600)>修改密码</a></dd>
                <dd>
                    <a href="{:url('login/logout')}">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>