{extend name="public:page" /}
{block name="meta"}
<link href="__HUI_ADMIN__/css/H-ui.login.css" rel="stylesheet" type="text/css"/>

<!--头信息-->
{/block}
{block name="content"}
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="" onsubmit="return formSubmit()" method="post">
            <div class="row cl">
                <div class="formControls text-c c-white col-xs-offset-3 col-xs-8" style="width: 380px;">
                    <h1>登录</h1>
                    数据分析管理系统
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-offset-3 col-xs-8">
                    <input id="user_name" name="user_name" type="text" placeholder="账户"
                           class="input-text size-L">

                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-offset-3 col-xs-8">
                    <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="" type="submit" style="width: 360px;background: rgba(30, 159, 255, 1);border: none"
                           class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer" style="background: none;border: none">Copyright 橙芽 by H-ui.admin v3.1</div>

{/block}
{block name="footer"}
<script type="text/javascript" src="__HUI_LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__HUI__/js/H-ui.min.js"></script>
<script>
    $(function () {
        let user_name_dom = $("#user_name")
        let password_dom = $("#password")
        user_name_dom.on("blur", function () {
            if (!$(this).val()) {
                let msg = $("<div class=\"c-red msg\">文本提示</div>")
                msg.text('请输入账号')
                $(this).after(msg)
            }

        }).on("focus", function () {
            $(this).siblings('.msg').remove()
        })
        password_dom.on("blur", function () {
            if (!$(this).val()) {
                let msg = $("<div class=\"c-red msg\">文本提示</div>")
                msg.text('请输入密码')
                $(this).after(msg)
            }
        }).on("focus", function () {
            $(this).siblings('.msg').remove()
        })
    })

    function formSubmit() {
        let user_name = $("#user_name").val();
        let password = $("#password").val();
        if (!user_name) {
            layer.msg('请输入账号')
            return false
        }
        if (!password) {
            layer.msg('请输入密码')
            return false
        }
        $.post("{:url('index')}",{
            user_name:user_name,
            password:password
        },function (res){
            if(res.code == 200){
                layer.msg("登录成功")
                setTimeout(function () {
                    window.location.href = "{:url('index/index')}"
                },1500)
            }else{
                layer.msg(res.msg)
            }
        })
        return false
    }
</script>
<!--脚本-->
{/block}