{extend name="layout" /}
{block name="meta"}
<!--头信息-->
<style>
    .top-box {
        display: none;
    }
</style>
{/block}

{block name="content"}
<div class="padding">
    <div class="page-title">
        全部项目
    </div>
    <div class="layui-card" >
        <div class="layui-card-header flex" style="justify-content: space-between">卡片面板

            <button class="layui-btn layui-btn-normal layui-btn-sm"
                    onclick=xadmin.open('添加项目','{:url("create")}',700,600)><i
                    class="layui-icon"></i>添加项目
            </button>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">

                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username" placeholder="请搜索应用名称" autocomplete="off"
                                           class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit=""
                                            lay-filter="sreach"><i
                                            class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form" id="table"></table>
                        </div>
                        <div class="layui-card-body ">
                            <div id="page"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}

{block name="footer"}
<script type="text/html" id="tools">
    <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="edit({{d.id}})">
        <i class="layui-icon">&#xe642;</i>编辑
    </button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="del({{d.id}})">
        <i class="layui-icon ">&#xe640;</i>删除
    </button>
</script>
<script type="text/html" id="table-name">
    <a class="link" href={:url('index/index')}?project_id={{d.id}}>{{d.name}}</a>
</script>
<script type="text/html" id="table-is_static">

    <input type="checkbox" lay-filter="is_static"
           {{# if(d.is_static== 1){ }} checked {{# } }}
           value="{{d.id}}" lay-skin="switch"
           lay-text="开启|关闭">
</script>
<script type="text/html" id="table-platform">
    <div class="agent-list sm">
        {{# if(d.platform.indexOf('1') != -1){ }}
        <div class="agent-item active">
            <i class="icon_font icon-pc"></i>
        </div>
        {{# } }}
        {{# if(d.platform.indexOf('2') != -1){ }}
        <div class="agent-item active">
            <i class="icon_font icon-shouji"></i>
        </div>
        {{# } }}
        {{# if(d.platform.indexOf('3') != -1){ }}

        <div class="agent-item active">
            <i class="icon_font icon-ios"></i>
        </div>
        {{# } }}
        {{# if(d.platform.indexOf('4') != -1){ }}
        <div class="agent-item active">
            <i class="icon_font icon-android"></i>
        </div>
        {{# } }}
        {{# if(d.platform.indexOf('5') != -1){ }}
        <div class="agent-item active">
            <i class="icon_font icon-xiaochengxu"></i>
        </div>
        {{# } }}
    </div>
</script>
<script>
    layui.use(['laydate', 'jquery', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;
        var laypage = layui.laypage;
        let first = true;
        xadmin.hide()
//执行一个laypage实例

        tableRender({
            elem: '#table',
            url: "{:url('')}",
            cols: [[ //表头
                {field: 'name', title: '项目名称', templet: "#table-name"}
                , {field: 'platform', width: 300, title: '项目平台', templet: "#table-platform"}
                , {field: 'domain', title: '项目域名',}
                , {field: 'is_static', title: '是否统计', templet: "#table-is_static"}
                , {field: 'user_account', title: '累计用户',}
                , {field: 'ctime', title: '创建时间',}
                , {field: 'mtime', title: '更新时间',}
                , {field: 'tools', width: 200, title: '操作', templet: "#tools"}
            ]]
        })
        form.on("switch(is_static)", function (e) {
            console.log(e.elem.checked)
            console.log(e.value)
            $.post("{:url('update')}", {
                id: e.value,
                is_static: e.elem.checked ? 1 : 0
            }, function (res) {
                if (res.code == 200) {
                    layer.msg('修改成功')
                } else {
                    layer.msg(res.msg)
                }
            })
        })
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    function edit(id) {
        xadmin.open('修改项目', "{:url('edit')}?id=" + id, 700, 600)
    }
    
    function del(id) {
        layer.confirm('确认删除当前项目吗？',function (index) {
            $.post("{:url('delete')}?",{
                id:id
            },function (res){
                if (res.code == 200) {
                    layer.msg('删除成功')
                    tableIns.reload()
                } else {
                    layer.msg(res.msg)
                }
            })
        })
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
{/block}
