{extend name="layout" /}
{block name="meta"}
<!--头信息-->
<style>
    .top-box {
        display: none;
    }
</style>
{/block}

{block name="content"}
<div class="padding">

    <div class="page-title">
        授权管理
    </div>
    <div class="layui-card">
        <div class="layui-card-header flex" style="justify-content: space-between">授权列表

            <a class="layui-btn layui-btn-normal layui-btn-sm"
               href='{:url("create")}'><i
                    class="layui-icon"></i>新增账号
            </a>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form" id="table"></table>
                        </div>
                        <div class="layui-card-body ">
                            <div id="page"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}

{block name="footer"}
<script type="text/html" id="tools">
    <button class="layui-btn layui-btn-warm layui-btn-sm" onclick="passwd({{d.id}})">
        <i class="layui-icon">&#xe669;</i>重置密码
    </button>
    <a class="layui-btn layui-btn-normal layui-btn-sm" href="{:url('edit')}?id={{d.id}}" >
        <i class="layui-icon">&#xe642;</i>编辑
    </a>
    {{# if(d.id != 1) { }}
    <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="del({{d.id}})">
        <i class="layui-icon ">&#xe640;</i>删除
    </button>
    {{# } }}

</script>
<script type="text/html" id="table-name">
    {{d.name}}
</script>
<script type="text/html" id="table-is_static">

    <input type="checkbox" lay-filter="is_static"
           {{# if(d.is_static== 1){ }} checked {{# } }}
           value="{{d.id}}" lay-skin="switch"
           lay-text="开启|关闭">
</script>
<script type="text/html" id="table-permission">
    {{# if (d.id != 1) {}}
    <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="permission({{d.id}})">
        查看详情
    </button>
    {{# } else {}}
    全部权限
    {{# } }}
</script>
<script>
    layui.use(['laydate', 'jquery', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;
        let first = true;
        xadmin.hide()

        tableRender({
            elem: '#table',
            url: "{:url('')}",
            cols: [[ //表头
                {field: 'nickname', title: '用户名称'},
                {field: 'name', title: '账号', templet: "#table-name"}
                , {field: 'remark', width: 300, title: '备注'}
                , {field: 'permission', width: 150, align: "center", title: '管理的项目', templet: "#table-permission"}
                , {field: 'ctime', title: '创建时间',}
                , {field: 'tools', width: 300, title: '操作', templet: "#tools"}
            ]]
        })
        form.on("switch(is_static)", function (e) {
            console.log(e.elem.checked)
            console.log(e.value)
            $.post("{:url('update')}", {
                id: e.value,
                is_static: e.elem.checked ? 1 : 0
            }, function (res) {
                if (res.code == 200) {
                    layer.msg('修改成功')
                } else {
                    layer.msg(res.msg)
                }
            })
        })
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    function permission(id) {
        xadmin.open('管理的项目', '{:url("permission")}?id='+id, 700, 500);
    }

    function del(id) {
        layer.confirm('确认删除当前账户吗？', function (index) {
            $.post("{:url('delete')}?", {
                id: id
            }, function (res) {
                if (res.code == 200) {
                    layer.msg('删除成功')
                    tableIns.reload()
                } else {
                    layer.msg(res.msg)
                }
            })
        })
    }

    function passwd(id) {
        xadmin.open('重置密码', "{:url('password')}?id=" + id, 700, 600)
    }

    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
{/block}
