<!doctype html>
<html>
<head>
    {include file="public/meta" /}

    {block name="meta"}
    {/block}
</head>
<body>
<!--头部-->
{include file="public/header" /}
<!--侧栏-->
{include file="public/aside" /}
<!-- 顶部开始 -->

<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->

<!--<div class="x-slide_left"></div>-->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content" style="margin-top: 45px">
    <div class="top-box">
        <div class=" top ">
            <div class="flex layui-form" style="height: 100%;padding: 0 15px">
                <div class=" flex module-select">
                    <select name="project" lay-filter="project" lay-search>
                        {volist name="$projects" id="vo"}
                        <option {$project.id== $vo.id?'selected':''} value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class=" flex">
                    <!--平台-->
                    <div id="agent_list" class="agent-list">
                        {volist name="$project.platform" id="vo" }
                        <div data-id="{$vo}" title="{$platform_config[$vo]['name']}" class="agent-item {$platform_id == $vo?'active':''}">
                            <i class="icon_font {$platform_config[$vo]['icon']}"></i>
                        </div>
                        {/volist}
                    </div>
                </div>
                <div id="tools-left" class=" flex" style="justify-content: flex-end;flex: 1">
                    {block name="tools"}
                    {/block}
                </div>
            </div>
        </div>
    </div>
    {block name="content"}
    {/block}
</div>

<!-- 右侧主体结束 -->
<!-- 中部结束 -->
{include file="public/footer" /}
<script>
    layui.use(['form', 'jquery'], function () {
        form = layui.form;
        $ = layui.$;
        var active_platform = '{$platform_id}';
        form.on("select(project)", function (e) {
            location.href = "{:url('index/index',$where)}?project_id=" + e.value
        })
        $("#agent_list").on('click', '.agent-item', function () {
            if (active_platform != $(this).data('id')) {
                $(this).addClass('active')
                location.href = "{:url('',$where)}?project_id={$project.id}&platform_id=" + $(this).data('id')
            }
        })
    })
</script>

{block name="footer"}
{/block}
</body>

</html>