<!doctype html>
<html>
<head>
    {include file="public/meta" /}

    {block name="meta"}
    {/block}
</head>
<body>
<!--头部-->
{include file="public/header" /}
<!--侧栏-->
{include file="public/aside" /}
<!-- 顶部开始 -->

<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->

<!--<div class="x-slide_left"></div>-->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content" style="position: relative">
    <div class="top-box">
        <div class=" top ">
            <div class="layui-row layui-form" style="height: 100%;padding: 0 15px">
                <div class="layui-col-md2 layui-col-sm4 flex module-select">
                    <select name="city" lay-verify="">
                        <option value="010">北京</option>
                        <option value="021">上海</option>
                        <option value="0571">杭州</option>
                    </select>
                </div>
                <div class="layui-col-md2 layui-col-sm4 flex">
                    <!--平台-->
                    <div class="agent-list">
                        <div class="agent-item active">
                            <i class="icon_font icon-pc"></i>
                        </div>
                        <div class="agent-item layui-hide">
                            <i class="icon_font icon-shouji"></i>
                        </div>
                        <div class="agent-item layui-hide">
                            <i class="icon_font icon-ios"></i>
                        </div>
                        <div class="agent-item layui-hide">
                            <i class="icon_font icon-android"></i>
                        </div>
                        <div class="agent-item layui-hide">
                            <i class="icon_font icon-xiaochengxu"></i>
                        </div>
                    </div>
                </div>
                <div id="tools-left" class="layui-col-md6 layui-col-sm4 flex" style="justify-content: flex-end">
                    {block name="tools"}
                    {/block}
                </div>
            </div>
        </div>
    </div>
    {block name="content"}
    {/block}
</div>

<!-- 右侧主体结束 -->
<!-- 中部结束 -->
{include file="public/footer" /}
<script>
    layui.use(['form', 'jquery'], function () {
        form = layui.form;
        $ = layui.$;

    })
</script>

{block name="footer"}
{/block}
</body>

</html>