{extend name="public:page" /}
{block name="meta"}
<!--头信息-->
{/block}
{block name="content"}
<!--内容-->
<div class="padding">
    <div class="page-title">
        修改密码
    </div>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>旧密码</label>
            <div class="layui-input-inline">
                <input type="password" name="old_password" required lay-verify="required|pass" placeholder="请输入旧密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请输入旧密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="new_password" required lay-verify="required|pass" placeholder="请输入新密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">不可与旧密码相同</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>再次输入新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="confirm_password" required lay-verify="required|confirm"
                       placeholder="请输入新密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">重复输入新密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>图片验证码</label>
            <div class="layui-input-inline">
                <input type="text" name="captcha" required lay-verify="required" placeholder="请输入验证码" autocomplete="off"
                       class="layui-input">
            </div>
            <div>
                <img class="captcha" src="{:captcha_src()}" alt="验证码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button type="submit" lay-filter="password" lay-submit="" class="layui-btn layui-btn-normal">保存</button>
            </div>
        </div>
    </form>

</div>

{/block}
{block name="footer"}
<!--脚本-->
<script>
    //Demo
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.$;
        $(".captcha").click(function () {
            var time = Date.now() / 1000
            $(this).attr('src', '{:captcha_src()}?time' + time)
        })
        form.verify({
            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ],
            confirm: function (value, item) { //value：表单的值、item：表单的DOM对象
                if ($("input[name='new_password']").val() !== value) {
                    return '两次输入新密码不一致'
                }
            }
        });

        //监听提交
        form.on('submit(password)', function (data) {

            $.post("{:url('')}", data.field, function (result) {
                if (result.code == 200) {
                    layer.msg('修改成功', function () {
                        if (window.parent) {
                            parent.location.href = "{:url('login/logout')}"
                        } else {
                            location.href = "{:url('login/logout')}"
                        }
                    })
                } else {
                    layer.msg(result.msg)
                }
            })
            return false;
        });
    });
</script>
{/block}