{extend name="public:page" /}
{block name="meta"}
<link href="__HUI_ADMIN__/css/H-ui.login.css" rel="stylesheet" type="text/css"/>

<!--头信息-->
{/block}
{block name="content"}
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="{:url('login/login')}" onsubmit="return formSubmit(this)" method="post">
            <div class="row cl">
                <div class="formControls text-c c-white col-xs-offset-3 col-xs-8" style="width: 380px;">
                    <h1>登录</h1>
                    数据分析管理系统
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-offset-3 col-xs-8">
                    <input id="user_name" name="user_name" type="text" onblur="check('user_name')" placeholder="账户"
                           class="input-text size-L">

                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-offset-3 col-xs-8">
                    <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <!--            <div class="row cl">-->
            <!--                <div class="formControls col-xs-8 col-xs-offset-3">-->
            <!--                    <input class="input-text size-L" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">-->
            <!--                    <img style="width: 100px;height: 40px" src="{:captcha_src()}"> <a id="kanbuq" style="color: white" href="javascript:;">看不清，换一张</a> </div>-->
            <!--            </div>-->
            <!--            <div class="row cl">-->
            <!--                <div class="formControls c-white col-xs-8 col-xs-offset-3">-->
            <!--                    <label for="online">-->
            <!--                        <input type="checkbox" name="online" id="online" value="">-->
            <!--                        使我保持登录状态</label>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="" type="submit" style="width: 360px;background: rgba(30, 159, 255, 1);border: none"
                           class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer" style="background: none;border: none">Copyright 橙芽 by H-ui.admin v3.1</div>

{/block}
{block name="footer"}
<script type="text/javascript" src="__HUI_LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__HUI__/js/H-ui.min.js"></script>
<script>
    $(function () {
        let user_name_dom = $("#user_name")
        let password_dom = $("#password")
        let msg = $("<div class=\"c-red msg\">文本提示</div>")
        user_name_dom.on("blur", function () {
            if (!$(this).val()) {
                msg.text('请输入账号')
                $(this).after(msg)
            }

        }).on("focus", function () {
            $(this).siblings('.msg').remove()
        })
        password_dom.on("blur", function () {
            if (!$(this).val()) {
                msg.text('请输入密码')
                $(this).after(msg)
            }
        }).on("focus", function () {
            $(this).siblings('.msg').remove()
        })
    })
    function formSubmit(form) {
        console.log(form)
        return false
    }
</script>
<!--脚本-->
{/block}